<p id="notice"><%= notice %></p>

<p>
  <strong>Object name:</strong>
  <%= @rec_user.object_name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @rec_user.code %>
</p>

<p>
  <strong>User in out:</strong>
  <%= @rec_user.user_in_out %>
</p>

<p>
  <strong>Rec comment:</strong>
  <%= @rec_user.rec_comment %>
</p>

<%= link_to 'Edit', edit_rec_user_path(@rec_user) %> |
<%= link_to 'Back', rec_users_path %>
