<p id="notice"><%= notice %></p>

<p>
  <strong>Object name:</strong>
  <%= @window.object_name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @window.area %>
</p>

<p>
  <strong>Glass:</strong>
  <%= @window.glass %>
</p>

<p>
  <strong>Dev proj ratio:</strong>
  <%= @window.dev_proj_ratio %>
</p>

<p>
  <strong>Aspect ratio:</strong>
  <%= @window.aspect_ratio %>
</p>

<p>
  <strong>Frame factor:</strong>
  <%= @window.frame_factor %>
</p>

<p>
  <strong>Shading position:</strong>
  <%= @window.shading_position %>
</p>

<p>
  <strong>Shading colour:</strong>
  <%= @window.shading_colour %>
</p>

<p>
  <strong>Shading translucency:</strong>
  <%= @window.shading_translucency %>
</p>

<p>
  <strong>Shading factor:</strong>
  <%= @window.shading_factor %>
</p>

<p>
  <strong>Brise soleil:</strong>
  <%= @window.brise_soleil %>
</p>

<p>
  <strong>Disp wind:</strong>
  <%= @window.disp_wind %>
</p>

<p>
  <strong>Multiplier:</strong>
  <%= @window.multiplier %>
</p>

<p>
  <strong>Roof light cover:</strong>
  <%= @window.roof_light_cover %>
</p>

<%= link_to 'Edit', edit_window_path(@window) %> |
<%= link_to 'Back', windows_path %>
