<p id="notice"><%= notice %></p>

<h1>Drops</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drops.each do |drop| %>
      <tr>
        <td><%= link_to 'Show', drop %></td>
        <td><%= link_to 'Edit', edit_drop_path(drop) %></td>
        <td><%= link_to 'Destroy', drop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drop', new_drop_path %>
<br>
<br>
<%= link_to 'Compliances', compliances_path %>
<br>
<%= link_to 'Constructions', constructions_path %>
<br>
<%= link_to 'Dhw-Generators', dhw_generators_path %>
<br>
<%= link_to 'Doors', doors_path %>
<br>
<%= link_to 'Generals', generals_path %>
<br>
<%= link_to 'Glasses', glasses_path %>
<br>
<%= link_to 'Hvac-Systems', hvac_systems_path %>
<br>
<%= link_to 'Rec-Users', rec_users_path %>
<br>
<%= link_to 'Walls', walls_path %>
<br>
<%= link_to 'Windows', windows_path %>
<br>
<%= link_to 'Zones', zones_path %>
