<p id="notice"><%= notice %></p>

<p>
  <strong>Object name:</strong>
  <%= @hvac_system.object_name %>
</p>

<p>
  <strong>Isbem:</strong>
  <%= @hvac_system.isbem_id %>
</p>

<p>
  <strong>Type 0:</strong>
  <%= @hvac_system.type_0 %>
</p>

<p>
  <strong>Heat source:</strong>
  <%= @hvac_system.heat_source %>
</p>

<p>
  <strong>Chp:</strong>
  <%= @hvac_system.chp %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @hvac_system.fuel_type %>
</p>

<p>
  <strong>Fuel type cool:</strong>
  <%= @hvac_system.fuel_type_cool %>
</p>

<p>
  <strong>Heat rec system:</strong>
  <%= @hvac_system.heat_rec_system %>
</p>

<p>
  <strong>Heat rec seff:</strong>
  <%= @hvac_system.heat_rec_seff %>
</p>

<p>
  <strong>Heat rec var eff:</strong>
  <%= @hvac_system.heat_rec_var_eff %>
</p>

<p>
  <strong>Cool sseer:</strong>
  <%= @hvac_system.cool_sseer %>
</p>

<p>
  <strong>Heat sseff:</strong>
  <%= @hvac_system.heat_sseff %>
</p>

<p>
  <strong>Aux energy corr:</strong>
  <%= @hvac_system.aux_energy_corr %>
</p>

<p>
  <strong>Variable speed pump:</strong>
  <%= @hvac_system.variable_speed_pump %>
</p>

<p>
  <strong>Heat gen seff:</strong>
  <%= @hvac_system.heat_gen_seff %>
</p>

<p>
  <strong>Eff default heat:</strong>
  <%= @hvac_system.eff_default_heat %>
</p>

<p>
  <strong>Metering:</strong>
  <%= @hvac_system.metering %>
</p>

<p>
  <strong>Sfp check:</strong>
  <%= @hvac_system.sfp_check %>
</p>

<p>
  <strong>Room time ctrl:</strong>
  <%= @hvac_system.room_time_ctrl %>
</p>

<p>
  <strong>Room temp ctrl:</strong>
  <%= @hvac_system.room_temp_ctrl %>
</p>

<p>
  <strong>Cen time ctrl:</strong>
  <%= @hvac_system.cen_time_ctrl %>
</p>

<p>
  <strong>Cool gen seer:</strong>
  <%= @hvac_system.cool_gen_seer %>
</p>

<p>
  <strong>Eff default cool:</strong>
  <%= @hvac_system.eff_default_cool %>
</p>

<p>
  <strong>Cool gen eer:</strong>
  <%= @hvac_system.cool_gen_eer %>
</p>

<p>
  <strong>Weather comp:</strong>
  <%= @hvac_system.weather_comp %>
</p>

<p>
  <strong>Duct leakage pc:</strong>
  <%= @hvac_system.duct_leakage_pc %>
</p>

<p>
  <strong>Optimum start:</strong>
  <%= @hvac_system.optimum_start %>
</p>

<p>
  <strong>Mixed mode:</strong>
  <%= @hvac_system.mixed_mode %>
</p>

<p>
  <strong>Chiller type:</strong>
  <%= @hvac_system.chiller_type %>
</p>

<p>
  <strong>Sfp:</strong>
  <%= @hvac_system.sfp %>
</p>

<p>
  <strong>Dhw served ref:</strong>
  <%= @hvac_system.dhw_served_ref %>
</p>

<%= link_to 'Edit', edit_hvac_system_path(@hvac_system) %> |
<%= link_to 'Back', hvac_systems_path %>
