<p id="notice"><%= notice %></p>

<p>
  <strong>Object name:</strong>
  <%= @compliance.object_name %>
</p>

<p>
  <strong>Epc type:</strong>
  <%= @compliance.epc_type %>
</p>

<p>
  <strong>Eng heritage:</strong>
  <%= @compliance.eng_heritage %>
</p>

<p>
  <strong>Br stage:</strong>
  <%= @compliance.br_stage %>
</p>

<p>
  <strong>Air con installed:</strong>
  <%= @compliance.air_con_installed %>
</p>

<p>
  <strong>Air con kw:</strong>
  <%= @compliance.air_con_kw %>
</p>

<p>
  <strong>Air con inspection:</strong>
  <%= @compliance.air_con_inspection %>
</p>

<p>
  <strong>Alt sys consider:</strong>
  <%= @compliance.alt_sys_consider %>
</p>

<p>
  <strong>Epc language:</strong>
  <%= @compliance.epc_language %>
</p>

<p>
  <strong>Shell and core:</strong>
  <%= @compliance.shell_and_core %>
</p>

<p>
  <strong>Modular portable:</strong>
  <%= @compliance.modular_portable %>
</p>

<p>
  <strong>Distress purchase:</strong>
  <%= @compliance.distress_purchase %>
</p>

<p>
  <strong>Air con kw exact:</strong>
  <%= @compliance.air_con_kw_exact %>
</p>

<%= link_to 'Edit', edit_compliance_path(@compliance) %> |
<%= link_to 'Back', compliances_path %>
