<p id="notice"><%= notice %></p>

<p>
  <strong>Object name:</strong>
  <%= @glass.object_name %>
</p>

<p>
  <strong>U value:</strong>
  <%= @glass.u_value %>
</p>

<p>
  <strong>Tot sol trans:</strong>
  <%= @glass.tot_sol_trans %>
</p>

<p>
  <strong>Lig sol trans:</strong>
  <%= @glass.lig_sol_trans %>
</p>

<%= link_to 'Edit', edit_glass_path(@glass) %> |
<%= link_to 'Back', glasses_path %>
