<p id="notice"><%= notice %></p>

<p>
  <strong>Object name:</strong>
  <%= @zone.object_name %>
</p>

<p>
  <strong>Isbem:</strong>
  <%= @zone.isbem_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @zone.activity %>
</p>

<p>
  <strong>Activity name:</strong>
  <%= @zone.activity_name %>
</p>

<p>
  <strong>Multiplier:</strong>
  <%= @zone.multiplier %>
</p>

<p>
  <strong>Area:</strong>
  <%= @zone.area %>
</p>

<p>
  <strong>Height:</strong>
  <%= @zone.height %>
</p>

<p>
  <strong>Vent zone hvac:</strong>
  <%= @zone.vent_zone_hvac %>
</p>

<p>
  <strong>Q v type:</strong>
  <%= @zone.q_v_type %>
</p>

<p>
  <strong>F ctrl vent dem:</strong>
  <%= @zone.f_ctrl_vent_dem %>
</p>

<p>
  <strong>Heat rec system:</strong>
  <%= @zone.heat_rec_system %>
</p>

<p>
  <strong>Heat rec seff:</strong>
  <%= @zone.heat_rec_seff %>
</p>

<p>
  <strong>Heat rec var eff:</strong>
  <%= @zone.heat_rec_var_eff %>
</p>

<p>
  <strong>Hepa filter:</strong>
  <%= @zone.hepa_filter %>
</p>

<p>
  <strong>Vent mech exh:</strong>
  <%= @zone.vent_mech_exh %>
</p>

<p>
  <strong>Destrat fan:</strong>
  <%= @zone.destrat_fan %>
</p>

<p>
  <strong>Vent sfp:</strong>
  <%= @zone.vent_sfp %>
</p>

<p>
  <strong>Sfp tu:</strong>
  <%= @zone.sfp_tu %>
</p>

<p>
  <strong>Q50 inf:</strong>
  <%= @zone.q50_inf %>
</p>

<p>
  <strong>Dhw generator:</strong>
  <%= @zone.dhw_generator %>
</p>

<p>
  <strong>Dhw pipe len:</strong>
  <%= @zone.dhw_pipe_len %>
</p>

<p>
  <strong>Light case:</strong>
  <%= @zone.light_case %>
</p>

<p>
  <strong>Light type:</strong>
  <%= @zone.light_type %>
</p>

<p>
  <strong>Light display eff:</strong>
  <%= @zone.light_display_eff %>
</p>

<p>
  <strong>Light control:</strong>
  <%= @zone.light_control %>
</p>

<p>
  <strong>Light dl aut zone:</strong>
  <%= @zone.light_dl_aut_zone %>
</p>

<p>
  <strong>Light occ sens t:</strong>
  <%= @zone.light_occ_sens_t %>
</p>

<p>
  <strong>Light time switch:</strong>
  <%= @zone.light_time_switch %>
</p>

<p>
  <strong>Jnct roof wall mc:</strong>
  <%= @zone.jnct_roof_wall_mc %>
</p>

<p>
  <strong>Jnct wall grnd mc:</strong>
  <%= @zone.jnct_wall_grnd_mc %>
</p>

<p>
  <strong>Jnct wall wall mc:</strong>
  <%= @zone.jnct_wall_wall_mc %>
</p>

<p>
  <strong>Jnct wall flr mc:</strong>
  <%= @zone.jnct_wall_flr_mc %>
</p>

<p>
  <strong>Jnct lintel mc:</strong>
  <%= @zone.jnct_lintel_mc %>
</p>

<p>
  <strong>Jnct sill mc:</strong>
  <%= @zone.jnct_sill_mc %>
</p>

<p>
  <strong>Jnct jamb mc:</strong>
  <%= @zone.jnct_jamb_mc %>
</p>

<p>
  <strong>Jnct roof wall:</strong>
  <%= @zone.jnct_roof_wall %>
</p>

<p>
  <strong>Jnct wall grnd:</strong>
  <%= @zone.jnct_wall_grnd %>
</p>

<p>
  <strong>Jnct wall wall:</strong>
  <%= @zone.jnct_wall_wall %>
</p>

<p>
  <strong>Jnct wall flr:</strong>
  <%= @zone.jnct_wall_flr %>
</p>

<p>
  <strong>Jnct lintel:</strong>
  <%= @zone.jnct_lintel %>
</p>

<p>
  <strong>Jnct sill:</strong>
  <%= @zone.jnct_sill %>
</p>

<p>
  <strong>Jnct jamb:</strong>
  <%= @zone.jnct_jamb %>
</p>

<p>
  <strong>Jnct accr detail:</strong>
  <%= @zone.jnct_accr_detail %>
</p>

<p>
  <strong>Jnct accr detail mc:</strong>
  <%= @zone.jnct_accr_detail_mc %>
</p>

<p>
  <strong>Night cooling:</strong>
  <%= @zone.night_cooling %>
</p>

<p>
  <strong>Q v m exh:</strong>
  <%= @zone.q_v_m_exh %>
</p>

<p>
  <strong>Vent sfp exh:</strong>
  <%= @zone.vent_sfp_exh %>
</p>

<p>
  <strong>Vent mech exh ncm:</strong>
  <%= @zone.vent_mech_exh_ncm %>
</p>

<p>
  <strong>Lamp ballast eff dl:</strong>
  <%= @zone.lamp_ballast_eff_dl %>
</p>

<p>
  <strong>Constant illum:</strong>
  <%= @zone.constant_illum %>
</p>

<p>
  <strong>Light dl area perc:</strong>
  <%= @zone.light_dl_area_perc %>
</p>

<p>
  <strong>Light paras pw occ:</strong>
  <%= @zone.light_paras_pw_occ %>
</p>

<p>
  <strong>Shell assumed:</strong>
  <%= @zone.shell_assumed %>
</p>

<p>
  <strong>Light act watt:</strong>
  <%= @zone.light_act_watt %>
</p>

<p>
  <strong>Light lux design:</strong>
  <%= @zone.light_lux_design %>
</p>

<p>
  <strong>Light photo type:</strong>
  <%= @zone.light_photo_type %>
</p>

<p>
  <strong>Light paras pw:</strong>
  <%= @zone.light_paras_pw %>
</p>

<p>
  <strong>Light ph back:</strong>
  <%= @zone.light_ph_back %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
