<p id="notice"><%= notice %></p>

<p>
  <strong>Object name:</strong>
  <%= @construction.object_name %>
</p>

<p>
  <strong>Type 0:</strong>
  <%= @construction.type_0 %>
</p>

<p>
  <strong>U value:</strong>
  <%= @construction.u_value %>
</p>

<p>
  <strong>U value corr:</strong>
  <%= @construction.u_value_corr %>
</p>

<p>
  <strong>Cm:</strong>
  <%= @construction.cm %>
</p>

<p>
  <strong>Metal cladding:</strong>
  <%= @construction.metal_cladding %>
</p>

<%= link_to 'Edit', edit_construction_path(@construction) %> |
<%= link_to 'Back', constructions_path %>
