<p id="notice"><%= notice %></p>

<p>
  <strong>Object name:</strong>
  <%= @general.object_name %>
</p>

<p>
  <strong>B type:</strong>
  <%= @general.b_type %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @general.weather %>
</p>

<p>
  <strong>P name:</strong>
  <%= @general.p_name %>
</p>

<p>
  <strong>B address 0:</strong>
  <%= @general.b_address_0 %>
</p>

<p>
  <strong>B address 1:</strong>
  <%= @general.b_address_1 %>
</p>

<p>
  <strong>B city:</strong>
  <%= @general.b_city %>
</p>

<p>
  <strong>B postcode:</strong>
  <%= @general.b_postcode %>
</p>

<p>
  <strong>C name:</strong>
  <%= @general.c_name %>
</p>

<p>
  <strong>C telephone:</strong>
  <%= @general.c_telephone %>
</p>

<p>
  <strong>C address:</strong>
  <%= @general.c_address %>
</p>

<p>
  <strong>C email:</strong>
  <%= @general.c_email %>
</p>

<p>
  <strong>C accred scheme web:</strong>
  <%= @general.c_accred_scheme_web %>
</p>

<p>
  <strong>C city:</strong>
  <%= @general.c_city %>
</p>

<p>
  <strong>C postcode:</strong>
  <%= @general.c_postcode %>
</p>

<p>
  <strong>C reg number:</strong>
  <%= @general.c_reg_number %>
</p>

<p>
  <strong>C reg number s:</strong>
  <%= @general.c_reg_number_s %>
</p>

<p>
  <strong>C reg number ir:</strong>
  <%= @general.c_reg_number_ir %>
</p>

<p>
  <strong>C accred scheme:</strong>
  <%= @general.c_accred_scheme %>
</p>

<p>
  <strong>C emp trad name:</strong>
  <%= @general.c_emp_trad_name %>
</p>

<p>
  <strong>C emp trad address:</strong>
  <%= @general.c_emp_trad_address %>
</p>

<p>
  <strong>C emp trad number:</strong>
  <%= @general.c_emp_trad_number %>
</p>

<p>
  <strong>C rel part disc:</strong>
  <%= @general.c_rel_part_disc %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @general.transaction_type %>
</p>

<p>
  <strong>C qualifications:</strong>
  <%= @general.c_qualifications %>
</p>

<p>
  <strong>Soft comp name:</strong>
  <%= @general.soft_comp_name %>
</p>

<p>
  <strong>Interface val:</strong>
  <%= @general.interface_val %>
</p>

<p>
  <strong>Interface:</strong>
  <%= @general.interface %>
</p>

<p>
  <strong>Interface version:</strong>
  <%= @general.interface_version %>
</p>

<p>
  <strong>Path file interface:</strong>
  <%= @general.path_file_interface %>
</p>

<p>
  <strong>Act not:</strong>
  <%= @general.act_not %>
</p>

<p>
  <strong>Building area:</strong>
  <%= @general.building_area %>
</p>

<p>
  <strong>Elec power factor:</strong>
  <%= @general.elec_power_factor %>
</p>

<p>
  <strong>Nos level:</strong>
  <%= @general.nos_level %>
</p>

<p>
  <strong>C insurer:</strong>
  <%= @general.c_insurer %>
</p>

<p>
  <strong>C ins pol number:</strong>
  <%= @general.c_ins_pol_number %>
</p>

<p>
  <strong>C ins eff date:</strong>
  <%= @general.c_ins_eff_date %>
</p>

<p>
  <strong>C ins exp date:</strong>
  <%= @general.c_ins_exp_date %>
</p>

<p>
  <strong>C ins pi limit:</strong>
  <%= @general.c_ins_pi_limit %>
</p>

<p>
  <strong>B insp date:</strong>
  <%= @general.b_insp_date %>
</p>

<p>
  <strong>Uprn:</strong>
  <%= @general.uprn %>
</p>

<p>
  <strong>Landmark environment:</strong>
  <%= @general.landmark_environment %>
</p>

<p>
  <strong>Light metering:</strong>
  <%= @general.light_metering %>
</p>

<p>
  <strong>Build orientation:</strong>
  <%= @general.build_orientation %>
</p>

<p>
  <strong>Html dr reports:</strong>
  <%= @general.html_dr_reports %>
</p>

<p>
  <strong>Max storey:</strong>
  <%= @general.max_storey %>
</p>

<p>
  <strong>B address 2:</strong>
  <%= @general.b_address_2 %>
</p>

<p>
  <strong>B address 3:</strong>
  <%= @general.b_address_3 %>
</p>

<p>
  <strong>O name:</strong>
  <%= @general.o_name %>
</p>

<p>
  <strong>O telephone:</strong>
  <%= @general.o_telephone %>
</p>

<p>
  <strong>O address:</strong>
  <%= @general.o_address %>
</p>

<p>
  <strong>O city:</strong>
  <%= @general.o_city %>
</p>

<p>
  <strong>O postcode:</strong>
  <%= @general.o_postcode %>
</p>

<p>
  <strong>B loc description:</strong>
  <%= @general.b_loc_description %>
</p>

<p>
  <strong>Dh co2f:</strong>
  <%= @general.dh_co2f %>
</p>

<p>
  <strong>Dh primf:</strong>
  <%= @general.dh_primf %>
</p>

<%= link_to 'Edit', edit_general_path(@general) %> |
<%= link_to 'Back', generals_path %>
